# files to ignore by git
src/*.o
src/makefile # this is a local makefile, adapted from the template provided
bin

# some files and directories that are likely to be locally created or generated
doc
data/box*
output

